matplotlib; python_version > '2.7'
mediapipe; python_version > '2.7'
paho-mqtt==1.6.1; python_version > '2.7'
pyttsx3; python_version > '2.7'
scipy; python_version > '2.7'
srt; python_version > '2.7'
sounddevice; python_version > '2.7'
vosk; python_version > '2.7'
qibullet; python_version > '2.7'
openpyxl; python_version > '2.7'
pandas; python_version > '2.7'
psutil; python_version > '2.7'
pycozmo; python_version > '2.7'
pyserial; python_version > '2.7'
deepface; python_version > '2.7'
protobuf; python_version > '2.7'
numpy; python_version > '2.7'

paho-mqtt==1.6.1; python_version == '2.7'
srt==3.5.0; python_version == '2.7'
opencv-python==4.2.0.32; python_version == '2.7'
sounddevice==0.3.15; python_version == '2.7'
